.stock-feed {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;   
    align-items: center;
    padding: 0 5%;
    gap: 1.5rem;
}

.stock-feed h1 {
    font-family: var(--ff-heading);
}

marquee span {
    font-family: var(--ff-body);
    font-size: 0.85rem;
}